@import '../../../assets/styles/common.scss';

.emoji-panel {
  @include flex(row, space-between);
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  background-color: #FFFFFF;

  .emoji-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: $wechat-gray;
  }
}
