@import '../../../assets/styles/common.scss';

$other-color: #FFFFFF;
$own-color: #94EC68;
$arrow-size: 12px;

.chat-dialog {
  @include flex(row, flex-start, flex-start);
  margin: 30px 0;
  padding: 0 20px;

  .chat-dialog-avatar {
    margin-right: 20px;
  }

  .chat-dialog-picture {
    border-radius: 10px;
    max-width: 300px;
  }

  .chat-dialog-text {
    position: relative;
    background-color: $other-color;
    padding: 20px 10px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 15px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 30px;
      left: - ($arrow-size - 2);
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
      border-right: $arrow-size solid $other-color;
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    .chat-dialog-avatar {
      margin-right: 0;
      margin-left: 20px;
    }

    .chat-dialog-text {
      background-color: $own-color;

      &::before {
        display: none;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        right: - ($arrow-size - 2);
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-left: $arrow-size solid $own-color;
      }
    }
  }
}
