@import '../../../assets/styles/common.scss';

$other-color: #FFFFFF;
$own-color: #94EC68;
$arrow-size: 12px;

.chat-dialog-wrap {

  .chat-dialog-timestamp-wrap {
    @include flex();

    .chat-dialog-timestamp {
      border-radius: 4px;
      padding: 5px 10px;
      font-size: 24px;
      background-color: rgba(247, 247, 247, .8);
      line-height: 1.5;
    }
  }

  .chat-dialog {
    @include flex(row, flex-start, flex-start);
    margin: 30px 0;
    padding: 0 20px;

    .chat-dialog-avatar {
      margin-right: 20px;
    }

    .chat-dialog-text {
      position: relative;
      background-color: $other-color;
      padding: 20px 20px;
      line-height: 50px;
      font-size: 30px;
      border-radius: 15px;
      white-space: normal;
      word-break: break-all;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        left: - ($arrow-size - 2);
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-right: $arrow-size solid $other-color;
      }
    }

    .chat-dialog-pict {
      border-radius: 10px;
      max-width: 300px;
    }

    .chat-dialog-audi {
      max-width: 100px;
      overflow: hidden;
    }

    &.reverse {
      flex-direction: row-reverse;

      .chat-dialog-avatar {
        margin-right: 0;
        margin-left: 20px;
      }

      .chat-dialog-text {
        background-color: $own-color;

        &::before {
          display: none;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 30px;
          right: - ($arrow-size - 2);
          border-top: $arrow-size solid transparent;
          border-bottom: $arrow-size solid transparent;
          border-left: $arrow-size solid $own-color;
        }
      }
    }
  }
}
